In [4]:
import re
import glob
import pandas as pd
import os

In [16]:
path = os.getcwd() + "\Season Data 2"

files = glob.glob(path + "/*.csv")

In [43]:
three = pd.read_csv(files[15])
no_games = three[three["G"] == 80]
no_games

     Unnamed: 0            Player   Tm   G  Year
7             7  Victor Alexander  GSW  80  1992
17           18     Vincent Askew  GSW  80  1992
62           69      Matt Bullard  HOU  80  1992
72           79    Duane Causwell  SAC  80  1992
158         171      Sidney Green  SAS  80  1992
193         211      Buck Johnson  HOU  80  1992
199         217   Michael Jordan*  CHI  80  1992
245         265    Vernon Maxwell  HOU  80  1992
281         303       Billy Owens  GSW  80  1992
292         315         Tim Perry  PHO  80  1992
316         341   Mitch Richmond*  SAC  80  1992
319         344      Fred Roberts  MIL  80  1992
341         368   Detlef Schrempf  IND  80  1992
377         406  LaSalle Thompson  IND  80  1992
397         427         Doug West  MIN  80  1992
407         438     Buck Williams  POR  80  1992
409         440  Hot Rod Williams  CLE  80  1992

In [45]:
for file in files:
    data = pd.read_csv(file)
    data = data[data["G"] != 0]
    data = data[["Player", "Tm", "G"]]
    data = data[data["Tm"] != "TOT"]
    data["Year"] = file.split('_')[-1].split('.')[0]
    data = data.sort_values(by = ["G"], ascending = False).drop_duplicates(["Player"], keep = "first")
    data["Player"] = data["Player"].apply(lambda x: "".join(x.split("*")[0]))
    data.to_csv(file)

In [48]:
one = pd.read_csv(files[0])
one["Player"] = one["Player"].apply(lambda x: "".join(x.split("*")[0]))
one[one["Player"] == "Kareem Abdul-Jabbar"]

    Unnamed: 0               Player   Tm   G  Year
13           1  Kareem Abdul-Jabbar  LAL  82  1977

In [35]:
a = "Bob Cousy*"
b = "Walt Frazer"

b.split('*')

['Walt Frazer']

In [12]:
dataframes = []

for file in files:
    dataframes.append(pd.read_csv(file))

In [15]:
mega_frame = pd.concat(dataframes)
mega_frame.to_c

(19489, 4)